
.profile-pic{
    width: 20%;
    padding-bottom: 20%;

    margin-top: 10%;
    border-radius: 50%;

    background-color: white;


    background-image: url("/img/profile.png");
    background-size:cover;
    background-repeat: no-repeat;

}